* {
    margin: none;
    padding: none;
    border: none;
}
html {
    background: #ecf0f1;
}
#container {
    height: 500px;
    margin: auto;
    max-width: 100%;
}
#container div {
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}
#container div a {
    color: #333;
    text-decoration: none;
    text-align: center;
    transition: color 500ms;
    -moz-transition: color 500ms;	/* Firefox 4 */
    -webkit-transition: color 500ms;	/* Safari å’Œ Chrome */
    -o-transition: color 500ms;	/* Opera */
}
#container>div {
    height: 100%;
    float: left;
}
@media (max-width: 1024px) {
    #container div a h2 {
        font-size: 100%;
    }
}
#mask {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: #fff;
}